#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  min-height: 90vh;
  width: 90vw;
  border: solid grey 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.split {
  height: 70%;
  width: 45%;
  position: fixed;
  z-index: -1;
  bottom: 2.5vw;
  overflow: hidden;
  padding-top: 20px;
}

.left {
  left: 5vw;
  background-color: rgb(17, 17, 17);
}

.right {
  right: 5vw;
  background-color: red;
}

/* .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
/* text-align: center;
} */
/* .centered img {
  width: 150px;
  border-radius: 50%;
} */

.card-container {
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.cards {
  width: 20%;
}
